.home-container {
    background-color: #f0f0f0;
}

.home-title {
    display: block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 2vw;
}

.paragraph {
    display: block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.25vw;
    text-align: center;
    margin-top: 1vw;
}

.bottom-page-box {
    display: flex;
    justify-content: space-around;
    padding: 5vw;
}

.individual-bottom-box {
    width: 20vw;
    height: 30vw;
    background-color: white;
    border: 0.2vw solid black;
    -webkit-box-shadow: 0.26vw 0.26vw 0.365vw 0px rgba(0,0,0,0.35);
    box-shadow: 0.26vw 0.26vw 0.365vw 0px rgba(0,0,0,0.35);
}

.bottom-box-header {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2vw;
    text-align: center;
    display: block;
    margin-top: 1.5vw;
    color: #000080;
    font-weight: bold;
}

.bottom-box-paragraph {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1vw;
    text-align: left;
    display: block;
    margin: 1vw;
}

.bottom-box-image {
    margin: 1vw;
    width: 18vw;
    height: 10vw;
    display: inline-block;
}

.bottom-box-miniheader {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1vw;
    text-align: left;
    display: block;
    margin-left: 1vw;
    margin-top: 1vw;
    color: #000080;
    font-weight: bold;
}

.app-logo {
    width: 10vw;
    height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.25vw;
    text-align: right;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 8vw;
    padding-top: 1vw;
    color: #0000b3;
    font-weight: bold;
    display: block;
    text-decoration: none;
    border-top: 0.1vw solid grey;
}