.addcartbutton-button {
    width: 7vw;
    height: 4.5vw;
    background-color: #ffff99;
    border: 0.15vw solid black;
    margin-top: 1.5vw;
    margin-left: 4vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1vw;
    font-weight: bold;
}
.addcartbutton-button:hover {
    background-color: #ffff66;
    cursor: pointer;
}