.cartobject-outerbox {
    width: 50vw;
    height: 10vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 1vw;
    border: 0.1vw solid grey;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.cartobject-imgbox {
    display: flex;
}

.cartobject-img {
    width: 9vw;
    height: 9vw;
    margin: 1vw;
    object-fit: fill;
}

.cartobject-leftside {
    display: flex;
    flex-direction: column;
}

.cartobject-title {
    font-weight: bold;
    font-size: 1.5vw;
}

.cartobject-header {
    font-size: 1vw;
}

.cartobject-counter {
    width: 3vw;
    height: 2vw;
    font-size: 1vw;
}

.cartobject-rightside {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.cartobject-price {
    font-size: 1.25vw;
}

.cartobject-quantity {
    font-size: 1vw;
}

.cartobject-remove {
    width: 4vw;
    height: 3vw;
    font-size: 0.75vw;
    font-weight: bold;
    background-color: #b30000;
}