.itemdesc-outerbox {
    width: 30vw;
    padding-left: 1.5vw;
    background-color:  #ffd9b3;
    display: flex;
    flex-direction: column;
    gap: 0vw;
    margin: 0vw;
    border-left: 0.2vw solid black;
}

.itemdesc-title {
    height: 0;
    font-weight: bold;
    font-size: 3.5vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 800;
    padding-bottom: 1vw;
}

.itemdesc-header {
    margin-top: 2.5vw;
    font-size: 1.75vw;
    font-weight: 600;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #595959;
    border-bottom: 0.1vw solid #b3b3b3;
}

.itemdesc-price {
    font-size: 2.5vw;
    font-weight: 800;
}

.itemdesc-desc {
    font-size: 1vw;
    padding-right: 2vw;
    padding-top: 1vw;
    white-space: pre-wrap;
}

.itemdesc-cat {
    font-size: 1.25vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #595959;
    padding-top: 1vw;
    margin-bottom: 0.5vw;
}

.itemdesc-ID {
    margin-top: 0.4vw;
    font-size: 1.25vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #595959;
    margin: 0;
}

.itemdesc-bottombox {
    display: flex;
    flex-direction: row;
}