.login-bar {
    display: flex;
    background-color: #0c270c;
    flex-direction: row-reverse;
    height: 3.5vw;
}
.web-title-text {
    font-family: "American Typewriter", serif;
    font-size: 1.9vw;
    color: #d9d9d9;
    margin-right: 50vw;
    padding-top: 0.5vw;
    font-weight: 800;

}
.loading-text {
    font-size: 1vw;
    text-align: center;
}
.pfp-img {
    background-color: #d9d9d9;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 0.25vw;
    margin-right: 2.5vw;
    margin-left: 1.5vw;
    margin-top: 0.5vw;
    cursor: pointer;
}