.login-bar {
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row-reverse;
    height: 3.5vw;
}
.web-title-text {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.5vw;
    margin-right: 50vw;
    padding-top: 0.5vw;
    font-weight: bold;

}
.loading-text {
    font-size: 1vw;
    text-align: center;
}
.pfp-img {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 2.5vw;
    margin-left: 1.5vw;
    margin-top: 0.5vw;
    cursor: pointer;
}