.video-container {
    width: 100vw;
    height: 25vw;
    object-fit: fill;
    display: block;
    pointer-events: none;
}

.outerbox {
    position: relative;
    width: 100%;
}

.innerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    text-align: center;
}